/* 통화 선택 컨테이너 */
.CurrencySelector {
  display: flex;
  gap: 20px;
}

/* 통화 옵션 (개별 통화) */
.CurrencyOption {
  display: flex;
  flex-direction: column;
}

/* 통화 환율 입력 필드 */
.CurrencyOption input {
  font-size: 2em;
  height: 100%;
  width: 100%;
  color: gray;
}

/* 통화 선택 버튼 */
.CurrencyOption button {
  margin: 5px 10px;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #1f93ff;
  color: white;
  cursor: pointer;
}
